body {
	background:#f6f6f6;
	&.admin-bar {
		header#masthead {
			top:32px;
			@include breakpoint(782px down) {
				top:46px;
			}
		}
	}
	header#masthead {
		position:fixed;
		z-index:10;
		width:100%;
		background:#323232;
		top:0;
		.top-bar {
			background: transparent;
			position:absolute;
			left:0;
			top:0;
			background:#323232;
			width:100%;
		}
		.bar-1 {
			height:75px;
			line-height:75px;
			box-sizing: border-box;
			border-bottom: 1px solid #424242;
			transition:height 0.2s ease, line-height 0.2s ease;
			@include breakpoint(small down) {
				height:36px;
				line-height:36px;
			}
			.logo {
				max-height:41px;
				@include breakpoint(small down) {
					max-height:26px;
				}
			}
			.settings {
				height:75px;
				line-height:75px;
				margin:0;
				background:transparent;
				transition:height 0.2s ease, line-height 0.2s ease;
				@include breakpoint(small down) {
					height:36px;
					line-height:36px;
				}
				li {
					vertical-align: middle;
					display:inline-block;
					margin-left:12px;
					&:first-of-type {
						margin-left:0;
					}
					@include breakpoint(small down) {
						margin-left:20px;
					}
					a {
						color:#d4d4d4;
						&:hover {
							color:#fff;
						}
						@include breakpoint(small down) {
							font-size:0;
							display:block;
							padding:0 10px;
						}
						i {
							font-size:13px;
							margin-right:3px;
							display:inline-block;
							vertical-align: middle;
							@include breakpoint(small down) {
								font-size:24px;
								display:inline-block;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
		.bar-2 {
			height:75px;
			line-height:75px;
			position:relative;
			transition:height 0.2s ease, line-height 0.2s ease;
			@include breakpoint(small down) {
				height:35px;
				line-height:35px;
			}
			.top-bar-left {
				display:block;
				width:auto;
				@include breakpoint(small down) {
					display:block;
				}
				.title-bar {
					background:transparent;
					height:35px;
					padding:0;
					line-height:35px;
				}
				#site-navigation {
	    			padding-left: 0.625rem;
					#menu-menu-principal {
						background:transparent;
						li {
							border:0;
							padding-right:20px;
							&:last-of-type{
								padding-right:0;
							}
							&.active {
								a {
									background:transparent;
								}
							}
							a {
								background:transparent;
								padding:0;
								height:75px;
								line-height:75px;
								font-size:14px;
								text-transform: uppercase;
								font-weight:normal;
								transition:height 0.2s ease, line-height 0.2s ease;
								&:hover {
									color:#fff;
								}
							}
						}
					}
					#menu-menu-principal-1 {
						background:transparent;
						li {
							border-right:0;
							&.active {
								a {
									background:transparent;
								}
							}
							a {
								padding:10px;
								text-transform: uppercase;
								height:inherit;
							}
						}

					}
				}
			}
			.search {
				width:auto;
				position:absolute;
				top:0;
				right:0;
	    		padding-right: 0.625rem;
				#searchform {
					height:75px;
					line-height:75px;
					@include breakpoint(small down) {
						height:35px;
						line-height:35px;
					}
					.input-group {
						display:inline-block;
						vertical-align: top;
						font-size:0;
						margin-bottom:0;
						position:relative;
						&::before {
							display:block;
							font: normal normal normal 14px/1 FontAwesome;
							content:"\f002";
							position: absolute;
							left: 0;
							top: 0;
							color: white;
							width: 10px;
							font-size: 14px;
							line-height: 75px;
							margin-left: 7px;
							@include breakpoint(small down) {
								line-height:35px;
							}
						}
						.input-group-field {
							display:inline-block;
							width:100%;
							background:transparent;
							border:1px solid #fff;
							border-radius:13px;
							height:26px;
							line-height:26px;
							font-size:14px;
							color:#ffffff;
							padding:0;
							padding-left:24px;
							&::-webkit-input-placeholder {
								color: #5d5d5d;
								font-size:12px;
								text-transform: uppercase;
								line-height:26px;
								@include breakpoint(small down) {
									line-height:21px;
									font-size:10px;
								}
							}
							&:-moz-placeholder { /* Firefox 18- */
								color: #5d5d5d;
								font-size:12px;
								text-transform: uppercase;
								line-height:26px;
								@include breakpoint(small down) {
									line-height:21px;
									font-size:10px;
								}
							}
							&::-moz-placeholder {  /* Firefox 19+ */
								color: #5d5d5d;
								font-size:12px;
								text-transform: uppercase;
								line-height:26px;
								@include breakpoint(small down) {
									line-height:21px;
									font-size:10px;
								}
							}
							&:-ms-input-placeholder {
								color: #5d5d5d;
								font-size:12px;
								text-transform: uppercase;
								line-height:26px;
								@include breakpoint(small down) {
									line-height:21px;
									font-size:10px;
								}
							}
							@include breakpoint(small down) {
								height:20px;
								line-height:20px;
							}
							&:focus {
								box-shadow:none;
							}
						}
						.input-group-button {
							display:none;
						}
					}
				}

			}
		}
		&.scrolling {
			.bar-1 {
				height:50px;
				line-height:50px;
				.settings {
					height:50px;
					line-height:50px;
				}
			}
			.bar-2 {
				height:50px;
				line-height:50px;
				.top-bar-left {
					#site-navigation {
						#menu-menu-principal {
							li {
								a {
									height:50px;
									line-height:50px;
								}
							}
						}
					}
				}
				.search {
					#searchform {
						height:50px;
						line-height:50px;
						.input-group::before {
							height:50px;
							line-height:50px;
						}
					}
				}
			}
		}
	}
	section.container {
		margin-top:150px;
		margin-bottom:35px;
		@include breakpoint(small down) {
			margin-top:71px;
		}
		.breadcrumbs {
			margin:10px 0;
			li:not(:last-child)::after {
				content:">";
				margin:0 5px;
			}
			a {
				color:#626262;
				font-size:10px;
			}
		}
		.product {
			background:#ffffff;
			padding-top:20px;
			padding-bottom:10px;
			> header {
				margin-bottom:35px;
				@include breakpoint(small down) {
					margin-bottom:10px;
				}
				div:first-of-type {
					ul {
						li {
							margin-bottom:12px;
						}
					}
				}
				div:last-of-type {
					h2 {
						font-size:24px;
						line-height:1;
						margin-bottom:10px;
						font-weight:bold;
						color:#424242;
						text-transform:uppercase;
						@include breakpoint(small down) {
							font-size:16px;
							margin-bottom:5px;
						}
					}
					div.note {
						line-height:1;
						i {
							color:#c9c9c9;
							font-size:15px;
							&.gold {
								color:#ffcc00;
							}
						}
					}
					hr {
						margin:20px 0;
						border-color: #ebebeb;
						@include breakpoint(small down) {
							margin:10px 0;
						}
					}
					section {
						position:relative;
						h3 {
							font-size:24px;
							line-height:1;
							margin-bottom:10px;
							font-weight:bold;
							color:#424242;
							@include breakpoint(small down) {
								font-size:20px;
							}
						}
						.tools {
							position:absolute;
							top:0;
							right:0;
							display:block;
							.button {
								font-size:10px;
								font-weight:normal;
								padding:2px 10px;
							}
						}
						.button {
							background-color:#f7931e;
							border-radius:5px;
							padding:4px 20px;
							font-size:12px;
							text-transform: uppercase;
							margin-bottom:0;
							@include breakpoint(small down) {
								font-size:11px;
							}
						}
					}
					ul.download {
						margin-bottom:0;
						li {
							margin-bottom:10px;
							&:last-of-type {
								margin-bottom: 0;
							}
							a {
								color:#f7931e;
								font-size:14px;
								text-transform: uppercase;
								@include breakpoint(small down) {
									font-size:11px;
								}
								i.fa {
									font-size:24px;
									margin-right:6px;
									display:inline-block;
									vertical-align: middle;
									@include breakpoint(small down) {
										font-size:20px;
									}
								}
							}
						}
					}
				}
			}
			> section {
				color:#424242;
				h4 {
					font-size:15px;
					line-height: 21px;
					font-weight: bold;
					text-align:center;
					margin:0 0 10px;
					@include breakpoint(small down) {
						font-size:13px;
					}
				}
				p {
					margin:0;
					font-size:13px;
					line-height:1.2;
					@include breakpoint(small down) {
						font-size:11px;
					}
				}
				table {
					margin-top:20px;
					margin-bottom:0;
					thead {
						border:1px solid #ebebeb;
						td {
							color:#f7931e;
							font-size:12px;
							text-transform: uppercase;
							text-align: center;
							font-weight:normal;
							padding-top:0;
							padding-bottom:0;
							line-height:30px;
							@include breakpoint(small down) {
								font-size:11px;
							}
						}
					}
					tbody {
						border:1px solid #ebebeb;
						border-top:0;
						font-size:11px;
						color:#424242;
						@include breakpoint(small down) {
							font-size:10px;
						}
						tr {
							border-bottom:1px solid #ebebeb;
							height:30px;
							&:nth-child(even) {
								background:#fafafa;
							}
							&:last-of-type {
								border-bottom: 0;
							}
							td {
								padding-top:0;
								padding-bottom:0;
								line-height:1.2;
							}
						}
					}
				}
			}
		}
		.similar-products {
			h5 {
				font-size:20px;
				text-transform: uppercase;
				color:#424242;
				font-weight:bold;
				margin:35px 0 5px;
				@include breakpoint(small down) {
					margin:20px 0 5px;
				}
			}
			.similar {
				@include breakpoint(medium) {
					margin:0 0 20px
				}
				@include breakpoint(small down) {
					margin:0 0 10px;
					display:none;
					&:nth-of-type(2), &:nth-of-type(3){
						display:block;
					}
				}
				> section {
					background:#fff;
					padding:10px;
					text-align: center;
					font-size:14px;
					color:#424242;
					img {
						max-height:100px;
					}
					h6 {
						margin: 10px 0;
						font-weight: bold;
						line-height: 1;
						text-transform: uppercase;
					}
					.price {
						margin: 10px 0;
						line-height: 1;
					}
					p {
						font-size:10px;
						line-height: 1;
						font-style: italic;
						margin-bottom:0;
					}
				}
			}
		}
	}
	div.newsletter {
		background:url('../images/bgnewsletter.jpg') center center no-repeat;
		padding:65px 0;
		@include breakpoint(small down) {
			padding:40px 0;
		}
		.row {
			line-height: 56px;
			@include breakpoint(small down) {
				line-height:1;
			}
			p {
				margin:0;
				font-size:18px;
				color:#fafafa;
				font-weight:bold;
				text-transform: uppercase;
				@include breakpoint(small down) {
					font-size:12px;
					text-align:center;
					margin-bottom:40px;
				}
			}
			input[type=email] {
				width:70%;
				display:inline-block;
				background:rgba(255,255,255,0.15);
				border:1px solid rgba(255,255,255,0.3);
				border-radius:12px;
				height:24px;
				line-height: 24px;
				font-size:12px;
				vertical-align: middle;
				margin:0;
				color:#fff;
				padding:0 10px;
				margin-left:25px;
				&:focus {
					box-shadow:none;
					background:rgba(255,255,255,0.3);
					border:1px solid rgba(255,255,255,0.6);
				}
				&::-webkit-input-placeholder {
					color: #929292;
					font-size:10px;
					text-transform: uppercase;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #929292;
					font-size:10px;
					text-transform: uppercase;
				}
				&::-moz-placeholder {  /* Firefox 19+ */
					color: #929292;
					font-size:10px;
					text-transform: uppercase;
				}
				&:-ms-input-placeholder {
					color: #929292;
					font-size:10px;
					text-transform: uppercase;
				}
			}
			input[type=submit] {
				width:30%;
				display:inline-block;
				margin:0;
				margin-left:-50px;
				background:#fff;
				border-radius:12px;
				border:0;
				height:24px;
				line-height: 24px;
				padding:0;
				color:#626262;
				font-size: 12px;
				vertical-align: middle;
				text-transform: uppercase;
			}
		}
	}
	#footer-container {
		margin:0;
		border:0;
		background:#212121;
		#footer {
			padding:35px 0;
			@include breakpoint(small down) {
				padding: 10px 0;
				text-align: center;
			}
			.logo {
				margin-bottom: 20px;
				@include breakpoint(small down) {
					max-height:40px;
					margin-bottom: 10px;
				}
			}
			p {
				font-size: 12px;
				color:#fafafa;
				text-transform: uppercase;
				font-weight: bold;
				margin:0;
			}
			#menu-footer {
				display:block;
				text-align:right;
				@include breakpoint(small down) {
					margin-top:10px
				}
				li {
					display:block;
					margin-bottom:5px;
					@include breakpoint(small down) {
						text-align: center;
						margin-bottom:0;
					}
					a {
						display:inline-block;
						font-size:18px;
						font-weight:bold;
						color:#fafafa;
						padding:0;
						text-transform: uppercase;
						line-height:1.5;
						&:hover {
							color:#f7931e;
						}
						@include breakpoint(small down) {
							font-size:12px;
							line-height: 16px;
						}
					}
				}
			}
		}
	}
	.copyright {
		background:#fafafa;
		padding:10px 0;
		font-size:9px;
		color:#424242;
		text-transform: uppercase;
	}
}
